[tool.poetry]
# Docs: https://python-poetry.org/docs/pyproject/
name = "meta-package-manager"
version = "3.2.0"
description = """
    CLI unifying Homebrew, apt, Chocolatey, Pip, NPM, Composer and the like."""
license = 'GPL-2.0-or-later'
authors = ["Kevin Deldycke <kevin@deldycke.com>"]
readme = "README.rst"
homepage = 'https://github.com/kdeldycke/meta-package-manager'
repository = 'https://github.com/kdeldycke/meta-package-manager'
documentation = 'https://meta-package-manager.readthedocs.io'
keywords = [
    'CLI', 'package', 'pip', 'apm', 'npm', 'homebrew', 'brew', 'cask',
    'macos', 'node', 'atom', 'ruby', 'gem', 'mac app store', 'mas',
    'bitbar', 'plugin', 'flatpak', 'opkg', 'php composer', 'snap']
classifiers = [
    # See: https://pypi.org/pypi?%3Aaction=list_classifiers
    'Development Status :: 5 - Production/Stable',
    'Environment :: Console',
    'Environment :: MacOS X',
    'Environment :: Plugins',
    'Intended Audience :: Developers',
    'Intended Audience :: Information Technology',
    'Intended Audience :: System Administrators',
    'Operating System :: MacOS :: MacOS X',
    'Operating System :: Microsoft :: Windows',
    'Operating System :: POSIX :: Linux',
    'Programming Language :: Python :: Implementation :: CPython',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Topic :: System :: Archiving :: Packaging',
    'Topic :: System :: Installation/Setup',
    'Topic :: System :: Software Distribution',
    'Topic :: Utilities']
include = [
    "docs/**/*",
    "CHANGES.rst",
    "README.rst",
    "setup.cfg"]


[tool.poetry.urls]
"Bug Tracker" = "https://github.com/kdeldycke/meta-package-manager/issues"

[tool.poetry.dependencies]
# List of python versions and their support status:
# https://en.wikipedia.org/wiki/CPython#Version_history
python = "^3.7"
# XXX Waiting for boltons 20.1.1.dev0 to be released and
# https://github.com/mahmoud/boltons/pull/258 to be merged.
boltons = {git = "https://github.com/kdeldycke/boltons.git", branch = "strip-ansi-fix" }
click = "^7.1"
click-log = "^0.3"
cli-helpers = "^1.2"
simplejson = "^3.17.0"
tomlkit = "^0.5"
# Should have been put in dev-dependencies but extras only works from main
# section.
sphinx = {version = "^2.4", optional = true}
sphinx_rtd_theme = {version = "^0.4.3", optional = true}
sphinx_tabs = {version = "^1.1.13", optional = true}


[tool.poetry.dev-dependencies]
bump2version = "^1.0.0"
coverage = {extras = ["toml"], version = "^5.0.4"}
isort = "^4.3.5"
pycodestyle = "^2"
pylint = "^2.5"
pytest = "^5.4"
# More pytest plugins at: http://plugincompat.herokuapp.com .
pytest-cov = "^2.8.1"
twine = "^3.1"

[tool.poetry.extras]
# Workaround lacks of Poetry support by RTD: https://stackoverflow.com/a/58163431
docs = ["sphinx", "sphinx_rtd_theme", "sphinx_tabs"]

[tool.poetry.scripts]
mpm = 'meta_package_manager.cli:cli'

[tool.isort]
# https://github.com/timothycrosley/isort#configuring-isort
multi_line_output = 3

[tool.pylint.MASTER]
# http://pylint.pycqa.org/en/latest/technical_reference/features.html
output-format = "colorized"
fail-under = "8"
[tool.pylint."messages control"]
# List messages with: $ pylint --list-msgs
# C0114: missing-module-docstring
# W0511: fixme
# W1203: logging-fstring-interpolation
disable = "C0114,W0511,W1203"
[tool.pylint.LOGGING]
# The type of string formatting that logging methods do. `old` means using %
# formatting, `new` is for `{}` formatting.
logging-format-style = "new"

[tool.coverage.paths]
# https://coverage.readthedocs.io/en/latest/config.html
source = ["meta_package_manager"]
[tool.coverage.run]
source = ["meta_package_manager"]
branch = true
omit = ["*/tests/*"]
[tool.coverage.report]
omit = ["*/tests/*"]
precision = 2

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
