name: Autofix
on:
  push:
    # Only targets develop branch to avoid amplification effects of auto-fixing
    # the exact same stuff in multiple non-rebased branches.
    branches:
      - 'develop'

jobs:

  python:
    name: Format Python code and create a PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          # Required by git-auto-commit-action. See:
          # https://github.com/stefanzweifel/git-auto-commit-action#checkout-the-correct-branch
          ref: ${{ github.head_ref }}
      - uses: actions/setup-python@v2.1.1
      - name: Install black
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade poetry
          poetry install
      - name: Run black
        run: |
          poetry run black .
      - uses: peter-evans/create-pull-request@v3
        with:
          author: "Kevin Deldycke <kevin@deldycke.com>"
          commit-message: "[autofix] Format Python code"
          title: "[autofix] Format Python code"
          body: >
            [Auto-generated on run
            #${{ github.run_id }}](https://github.com/${{ github.repository
            }}/actions/runs/${{ github.run_id }}) as defined by [workflow
            action](https://github.com/${{ github.repository
            }}/blob/${{ github.base_ref }}/.github/workflows/autofix.yaml).
          labels: CI/CD
          assignees: kdeldycke
          branch: format-python

  json:
    name: Format JSON files and create a PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Install linter
        run: |
          sudo npm install jsonlint -g
      - name: Lint
        run: >
          find ./ -type f -name '*.json' -print -exec
          jsonlint --in-place "{}" \;
      - uses: peter-evans/create-pull-request@v3
        with:
          author: "Kevin Deldycke <kevin@deldycke.com>"
          commit-message: "[autofix] Format JSON content"
          title: "[autofix] Format JSON content"
          body: >
            [Auto-generated on run
            #${{ github.run_id }}](https://github.com/${{ github.repository
            }}/actions/runs/${{ github.run_id }}) as defined by [workflow
            action](https://github.com/${{ github.repository
            }}/blob/${{ github.base_ref }}/.github/workflows/autofix.yaml).
          labels: CI/CD
          assignees: kdeldycke
          branch: format-json

  typos:
    name: Fix typos and create a PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: sobolevn/misspell-fixer-action@0.1.0
      - uses: peter-evans/create-pull-request@v3
        with:
          author: "Kevin Deldycke <kevin@deldycke.com>"
          commit-message: "[autofix] Typo"
          title: "[autofix] Typo"
          body: >
            [Auto-generated on run
            #${{ github.run_id }}](https://github.com/${{ github.repository
            }}/actions/runs/${{ github.run_id }}) as defined by [workflow
            action](https://github.com/${{ github.repository
            }}/blob/${{ github.base_ref }}/.github/workflows/autofix.yaml).
          labels: CI/CD, documentation
          assignees: kdeldycke
          branch: autofix-typo

  gitignore:
    name: Generate .gitignore and create a PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Install git-extras package
        run: |
          sudo apt install -y git-extras
      - name: Generate .gitignore
        run: >
          git ignore-io --replace emacs git linux macos nohup python vim
          virtualenv visualstudiocode windows
      - uses: peter-evans/create-pull-request@v3
        with:
          author: "Kevin Deldycke <kevin@deldycke.com>"
          commit-message: "[autofix] Regenerate .gitignore"
          title: "[autofix] Regenerate .gitignore"
          body: >
            [Auto-generated on run
            #${{ github.run_id }}](https://github.com/${{ github.repository
            }}/actions/runs/${{ github.run_id }}) as defined by [workflow
            action](https://github.com/${{ github.repository
            }}/blob/${{ github.base_ref }}/.github/workflows/autofix.yaml).
          labels: CI/CD
          assignees: kdeldycke
          branch: update-gitignore

  mailmap:
    name: Update .mailmap and create a PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          # Fetch all history to extract all contributors.
          fetch-depth: 0
      - uses: actions/setup-python@v2.1.1
      - name: Generate .mailmap
        run: |
          python ./.github/update_mailmap.py
      - uses: peter-evans/create-pull-request@v3
        with:
          author: "Kevin Deldycke <kevin@deldycke.com>"
          commit-message: "[autofix] Regenerate .mailmap"
          title: "[autofix] Regenerate .mailmap"
          body: >
            [Auto-generated on run
            #${{ github.run_id }}](https://github.com/${{ github.repository
            }}/actions/runs/${{ github.run_id }}) as defined by [workflow
            action](https://github.com/${{ github.repository
            }}/blob/${{ github.base_ref }}/.github/workflows/autofix.yaml).
          labels: CI/CD, documentation
          assignees: kdeldycke
          branch: update-mailmap

  dependency-graph:
    name: Update dependency image and create a PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-python@v2.1.1
      - name: Install pipdeptree
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade poetry
          poetry install
          sudo apt install graphviz
      - name: Run pipdeptree
        run: >
          poetry run pipdeptree --packages meta-package-manager
          --graph-output png > ./docs/dependencies.png
      - uses: peter-evans/create-pull-request@v3
        with:
          author: "Kevin Deldycke <kevin@deldycke.com>"
          commit-message: "[autofix] Regenerate dependency graph"
          title: "[autofix] Regenerate dependency graph"
          body: >
            [Auto-generated on run
            #${{ github.run_id }}](https://github.com/${{ github.repository
            }}/actions/runs/${{ github.run_id }}) as defined by [workflow
            action](https://github.com/${{ github.repository
            }}/blob/${{ github.base_ref }}/.github/workflows/autofix.yaml).
          labels: CI/CD, documentation
          assignees: kdeldycke
          branch: update-deps-image
