---
name: Changelog & versions
"on":
  push:
    branches:
      - main
    paths:
      - changelog.md
      - .bumpversion.cfg
      - .github/workflows/changelog.yaml
      - .github/workflows/release.yaml

# XXX Concurrency detection sucks and jobs gets killed randonmly.
# concurrency:
#   # Group workflow jobs so new commits cancels in-progress execution triggered by previous commits.
#   # Source: https://mail.python.org/archives/list/pypa-committers@python.org/thread/PCBCQMJF64JGRBOX7E2EE4YLKHT4DI55/
#   group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
#   cancel-in-progress: true

jobs:

  changelog:
    uses: kdeldycke/workflows/.github/workflows/changelog.yaml@v2.10.0
