---
name: Changelog & versions
"on":
  push:
    branches:
      - main
    paths:
      - changelog.md
      - "**/pyproject.toml"
      - "*requirements.txt"
      - "requirements/*.txt"
      # Trigger on any workflow change to make sure version gets hard-coded everywhere.
      - .github/workflows/*.yaml

jobs:

  changelog:
    uses: kdeldycke/workflows/.github/workflows/changelog.yaml@v4.17.6
