---
name: Labeller (file-based)
"on":
  - pull_request_target

jobs:
  labeller:
    name: Issue & PR labeller based on changed files
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/labeler@v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: ".github/labeller-file-based.yaml"
