name: Labeller (file-based)
on:
- pull_request

jobs:
  labeller:
    name: Issue & PR labeller based on changed files
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        configuration-path: ".github/pr_labeler.yaml"
