name: Labels
on:
  # Only the develop branch has authority on the project management. This will
  # prevent any other tagging or release activity interfer with the project.
  push:
    branches:
      - develop

jobs:

  labels:
    name: Generate and sync labels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-python@v2.1.1
      - name: Install mpm
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade poetry
          poetry install
      - name: Generate labels
        run: |
          poetry run python ./.github/generate_labels.py
      - name: Discard all local changes but the label definitions file
        run: |
          # Remove untracked directories and files.
          git clean -fd
          # Temporarily stash our target file.
          git stash -- ./.github/labels.json
          # Reset all repository.
          git checkout --force
          # Restore modified file. Do not fail if no file has been stashed.
          git stash pop || true
      - uses: peter-evans/create-pull-request@v3
        with:
          author: "Kevin Deldycke <kevin@deldycke.com>"
          commit-message: "[github] Update project labels."
          title: '[github] Update project labels'
          body: >
            [Auto-generated on run
            #${{ github.run_id }}](https://github.com/${{ github.repository
            }}/actions/runs/${{ github.run_id }}) as defined by [workflow
            action](https://github.com/${{ github.repository
            }}/blob/${{ github.base_ref }}/.github/workflows/labels.yaml).
          labels: "CI/CD"
          assignees: kdeldycke
          branch: update-labels
      - name: Sync labels
        uses: lannonbr/issue-label-manager-action@2.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
