---
name: Lint
"on":
  push:
    # QA on main is too late: we shouldn't mess with the code at this point.
    branches-ignore:
      - 'main'
  pull_request:

jobs:

  lint-python:
    name: Lint and check Python code
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-python@v2.3.1
      - name: Install linters
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade poetry
          poetry install --no-interaction --no-ansi
      - name: Lint
        run: |
          poetry run pylint meta_package_manager

  lint-yaml:
    uses: kdeldycke/workflows/.github/workflows/lint.yaml@main