---
name: Build & release
"on":
  # Target are chosen so that all commits get a chance to have their build tested.
  push:
    branches:
      - main
  pull_request:

jobs:

  release:
    uses: kdeldycke/workflows/.github/workflows/release.yaml@v1.10.0
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

  nuitka-generate-bins:
    name: Generate binaries
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - macos-12
          - windows-2022
        arch:
          - x64
          # XXX There is no GitHub-hosted macOS runners with Apple silicon yet. See:
          # https://github.com/github/roadmap/issues/528
          # https://github.com/actions/runner-images/issues/2187
          # https://github.com/actions/runner/issues/805
          # - arm64
        include:
          - os: ubuntu-22.04
            platform: linux
            extension: bin
            extra_python_params:
          - os: macos-12
            platform: macos
            extension: bin
            extra_python_params:
          - os: windows-2022
            platform: windows
            extension: exe
            # XXX "-X utf8" parameter is a workaround for Windows runners redirecting the output of commands to files.
            # See:
            # https://github.com/databrickslabs/dbx/issues/455#issuecomment-1312770919
            # https://github.com/pallets/click/issues/2121#issuecomment-1312773882
            # https://gist.github.com/NodeJSmith/e7e37f2d3f162456869f015f842bcf15
            # https://github.com/Nuitka/Nuitka/blob/ca1ec9e8e10b51d187b589f1d33935c4ed558687/nuitka/utils/ReExecute.py#L73-L74
            extra_python_params: "-X utf8"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.2.0
      - uses: actions/setup-python@v4.3.1
        with:
          # XXX Nuitka is not ready for Python 3.11 yet.
          python-version: "3.10"
      - name: Install pip
        run: |
          python -m pip install --upgrade pip
      - name: Install poetry
        run: |
          python -m pip install Poetry
      - name: Install package
        run: |
          poetry install --no-interaction --no-ansi
      - name: Install Nuitka in Poetry venv
        # Additional dependencies:
        #   - ordered-set: used by Nuitka for compilation performance
        #   - zstandard: for nuitka's onefile compression
        run: >
          poetry run python -m pip install
          "nuitka==1.2.6"
          "ordered-set==4.1.0"
          "zstandard==0.19.0"
      - name: Nuitka + compilers versions
        run: |
          poetry run python -m nuitka --version
      - name: mpm bin name
        id: bin_name
        run: |
          echo "bin_name=mpm_${{ matrix.platform }}_${{ matrix.arch }}.${{ matrix.extension }}" >> $GITHUB_OUTPUT
      - name: Build binary within Poetry venv
        run: >
          poetry run python ${{ matrix.extra_python_params }} -m nuitka
          --onefile
          --assume-yes-for-downloads
          --nofollow-import-to=*.tests
          --output-filename=${{ steps.bin_name.outputs.bin_name }}
          meta_package_manager/__main__.py
      - name: Upload binaries
        uses: actions/upload-artifact@v3.1.1
        with:
          name: ${{ steps.bin_name.outputs.bin_name }}
          if-no-files-found: error
          path: ${{ steps.bin_name.outputs.bin_name }}
      - name: Binary tests
        run: |
          ./${{ steps.bin_name.outputs.bin_name }} --version
          ./${{ steps.bin_name.outputs.bin_name }} --help
          ./${{ steps.bin_name.outputs.bin_name }} --all-managers managers