---
name: Build & release
"on":
  # Target are chosen so that all commits get a chance to have their build tested.
  push:
    branches:
      - main
  pull_request:

jobs:

  release:
    uses: kdeldycke/workflows/.github/workflows/release.yaml@v2.1.1
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

  test-binaries:
    needs: release
    runs-on: ubuntu-20.04
    steps:
      - name: Download artefacts
        id: artefacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: ${{ needs.release.outputs.bin_name }}
      - name: Run mpm --version
        run: |
          ${{ steps.artefacts.outputs.download-path }}/${{ needs.release.outputs.bin_name }} --version
      - name: Run mpm --help
        run: |
          ${{ steps.artefacts.outputs.download-path }}/${{ needs.release.outputs.bin_name }} --help
      - name: Run mpm --all-managers managers
        run: |
          ${{ steps.artefacts.outputs.download-path }}/${{ needs.release.outputs.bin_name }} --all-managers managers