---
name: Tests
"on":
  push:
    branches:
      - main
  pull_request:
  schedule:
    # Run tests every Monday at 9:17 to catch regressions.
    - cron: "17 9 * * 1"

# XXX Concurrency detection sucks and jobs gets killed randomly.
# concurrency:
#   # Group workflow jobs so new commits cancels in-progress execution triggered by previous commits.
#   # Source: https://mail.python.org/archives/list/pypa-committers@python.org/thread/PCBCQMJF64JGRBOX7E2EE4YLKHT4DI55/
#   group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
#   cancel-in-progress: true

jobs:

  test-matrix:
    # There is no way to selective flags collections of elements in a matrix, without having to flag all combinations.
    # This will became unmaintainable and tedious so we use this job to pre-compute which jobs is going to get our
    # "stable" flag.
    name: "OS/Python/stable matrix pre-compute"
    runs-on: ubuntu-22.04
    outputs:
      test_matrix: ${{ steps.create_matrix.outputs.matrix }}
    steps:
      - name: Create JSON matrix
        id: create_matrix
        shell: python
        run: |
          import json
          import os
          from itertools import product
          from pathlib import Path

          # See what each os came pre-installed with at:
          # https://help.github.com/en/actions/reference/software-installed-on-github-hosted-runners
          os_list = {
              "ubuntu-22.04",
              "ubuntu-20.04",
              "macos-12",
              "macos-11",
              "windows-2022",
              "windows-2019",
          }
          python_list = {
              "3.7",
              "3.8",
              "3.9",
              "3.10",
              "3.11",
              "3.12-dev",
          }
          # Safety check to ensure there is no overlap between the 2 sets.
          assert not os_list.intersection(python_list)

          # List of unstable creiterions.
          unstable = []

          jobs = []
          for os_id, python_version in product(os_list, python_list):
              job = {
                  "os": os_id,
                  "python-version": python_version,
                  "state": "stable",
              }
              for criterion in unstable:
                  if criterion.issubset(job.values()):
                      job["state"] = "unstable"
                      break
              jobs.append(job)
          matrix = json.dumps({"include": jobs})

          env_file = Path(os.getenv("GITHUB_OUTPUT"))
          env_file.write_text(f"matrix={matrix}")

      - name: Print JSON matrix
        run: |
          echo '${{ steps.create_matrix.outputs.matrix }}'
          jq -aR <<< echo '${{ steps.create_matrix.outputs.matrix }}'

  tests:
    needs:
      - test-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.test-matrix.outputs.test_matrix) }}
    runs-on: ${{ matrix.os }}
    # We keep going when a job flagged as not stable fails.
    continue-on-error: ${{ matrix.state == 'unstable' }}
    env:
      # Deactivate Homebrew auto-update and verbose output.
      HOMEBREW_NO_ENV_HINTS: "1"
      HOMEBREW_NO_AUTO_UPDATE: "1"
    steps:
      - uses: actions/checkout@v3.3.0

      - name: Python ${{ matrix.python-version }} - Install
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Linux - Fix runner cache folder permissions
        if: runner.os == 'Linux'
        run: |
          mkdir -p /home/runner/.cache
          sudo chown -R runner /home/runner/.cache

      ### Install or upgrade package managers on each platform, and made them
      ### ready to use for mpm.

      # Pip
      - name: Pip & Setuptools - Upgrade
        run: |
          python -m pip install --upgrade setuptools pip

      # Pipx
      - name: Pipx - Install
        run: |
          python -m pip install --user pipx
          python -m pipx ensurepath

      # Homebrew
      - name: Homebrew - macOS upgrade
        if: runner.os == 'macOS'
        run: |
          brew update
      - name: Homebrew - Linux install
        if: runner.os == 'Linux'
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo "/home/linuxbrew/.linuxbrew/bin/" >> $GITHUB_PATH
      - name: Homebrew - Doctor and tap repair
        if: runner.os != 'Windows'
        run: |
          brew doctor || true
          brew tap --repair

      # Apt
      - name: APT - Linux upgrade
        if: runner.os == 'Linux'
        run: |
          sudo apt --quiet --yes update

      # Chocolatey
      - name: Chocolatey - Windows upgrade
        if: runner.os == 'Windows'
        run: |
          choco upgrade chocolatey --no-progress

      # NPM
      - name: NPM - Linux install
        if: runner.os == 'Linux'
        run: |
          sudo apt --quiet --yes install npm
      - name: NPM - macOS install
        if: runner.os == 'macOS'
        # Error: Refusing to uninstall /usr/local/Cellar/node@16/16.15.1
        # because it is required by mongodb-community@5.0 and mongosh, which are currently installed.
        run: |
          brew uninstall node@16 mongodb-community@5.0 mongosh
          brew install npm
          sudo mkdir -p /usr/local/bin
          sudo ln -s /usr/bin/npm /usr/local/bin/npm
      - name: NPM - Windows upgrade
        if: runner.os == 'Windows'
        run: |
          npm install --global npm

      # Cargo
      - name: Cargo - macOS install
        if: runner.os == 'macOS'
        run: |
          brew install rust
      - name: Cargo - Linux install
        if: runner.os == 'Linux'
        run: |
          sudo apt --quiet --yes install cargo
      - name: Cargo - Windows install
        if: runner.os == 'Windows'
        run: |
          choco install rust --no-progress

      # Yarn
      - name: Yarn - macOS install
        if: runner.os == 'macOS'
        run: |
          brew install yarn
      - name: Yarn - Linux install
        if: runner.os == 'Linux'
        run: |
          curl -sSL https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
          echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
          sudo apt --quiet --yes update
          sudo apt --quiet --yes install yarn
      - name: Yarn - Windows install
        if: runner.os == 'Windows'
        run: |
          choco install yarn --no-progress

      # Composer
      - name: Composer - macOS upgrade
        if: runner.os == 'macOS'
        run: |
          brew upgrade composer
      - name: Composer - Windows install
        if: runner.os == 'Windows'
        run: |
          choco install composer --no-progress

      # MAS
      - name: MAS - macOS install
        if: runner.os == 'macOS'
        run: |
          brew install mas

      # Flatpak
      - name: Flatpak - Ubuntu < 22.04 repo setup
        if: matrix.os == 'ubuntu-20.04'
        run: |
          sudo add-apt-repository --yes ppa:alexlarsson/flatpak
      - name: Flatpak - Linux install
        if: runner.os == 'Linux'
        run: |
          sudo apt --quiet --yes install flatpak

      # Scoop
      - name: Scoop - Windows install
        if: runner.os == 'Windows'
        run: |
          iwr get.scoop.sh -outfile 'install.ps1'
          .\install.ps1 -RunAsAdmin

      # DNF
      - name: DNF - Linux install
        # DNF has only been added in Ubuntu 21.04, not before.
        if: runner.os == 'Linux' && matrix.os != 'ubuntu-20.04'
        run: |
          sudo apt --quiet --yes install dnf

      # Zypper
      - name: Zypper - Ubuntu >= 20.04 install
        if: runner.os == 'Linux'
        run: |
          sudo apt --quiet --yes install zypper

      # Snap
      - name: Snap - Linux upgrade
        if: runner.os == 'Linux'
        run: |
          sudo apt --quiet --yes install snapd

      # VSCode
      - name: VSCode - macOS install
        if: runner.os == 'macOS'
        # XXX Tweak permission to fix this issue:
        # Hint: https://github.com/Homebrew/discussions/discussions/633#discussioncomment-1400084
        # > Run brew install --cask visual-studio-code
        # ==>Downloading https://update.code.visualstudio.com/1.68.1/darwin/stable
        # ==>Downloading from https://az764295.vo.msecnd.net/stable/35f373630/VSCode-darwin.zip
        # Warning: macOS's Gatekeeper has been disabled for this Cask
        # ==>Installing Cask visual-studio-code
        # ==>Purging files for version 1.68.1 of Cask visual-studio-code
        # Error: Directory not empty @ dir_s_rmdir - /private/tmp/d20220706-3993-qik29s
        # Error: Process completed with exit code 1.
        run: |
          sudo chown -R "$USER" /private/tmp/
          brew install --cask visual-studio-code
      - name: VSCode - Linux install
        if: runner.os == 'Linux'
        run: |
          sudo snap install --classic code
      - name: VSCode - Windows install
        if: runner.os == 'Windows'
        run: |
          choco install vscode --no-progress

      # Gem
      - name: Ruby & Gem - Windows upgrade
        if: runner.os == 'Windows'
        # XXX "gem install rubygems-update; update_rubygems" is needed on some old versions of rubygems to unstuck
        # subsequent "gem update --quiet --system" calls.
        # The Import-Module workaround is comming from: https://github.com/actions/runner-images/discussions/6065
        # The RefreshEnv is needed to make sure the new Ruby version is used.
        run: |
          choco upgrade ruby --no-progress
          Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
          Import-Module "$env:ChocolateyInstall\helpers\chocolateyInstaller.psm1"
          refreshenv
          gem install --quiet rubygems-update -v '<3'
          update_rubygems
          gem update --quiet --system
      - name: Ruby & Gem - macOS & Ubuntu < 21.04 upgrade
        if: runner.os == 'macOS' || matrix.os == 'ubuntu-20.04'
        run: |
          sudo gem update --quiet --system
      - name: Ruby & Gem - Ubuntu >= 21.04 upgrade
        # As of Ubuntu 21.04, RubyGems is exclusively managed by APT. A call to "sudo gem update --system"
        # ends up with the following error:
        #   ERROR:  Your RubyGems was installed trough APT, and upgrading it through RubyGems
        #   itself is unsupported. If you really need the latest version of RubyGems (tip:
        #   you usually don't), then you need to install RubyGems (and Ruby) manually,
        #   maybe using tools like ruby-install, rvm, etc.
        if: runner.os == 'Linux' && matrix.os != 'ubuntu-20.04'
        run: |
          sudo apt --quiet --yes install ruby-rubygems

      # SteamCMD
      - name: SteamCMD - macOS install
        if: runner.os == 'macOS'
        run: |
          brew install --cask steamcmd
      - name: SteamCMD - Linux install
        if: runner.os == 'Linux'
        run: |
          sudo add-apt-repository --yes multiverse
          sudo dpkg --add-architecture i386
          sudo apt --quiet --yes update
          sudo apt --quiet --yes install lib32gcc-s1
          # Accept Steam license.
          # Source: https://askubuntu.com/a/1017487
          echo steam steam/question select "I AGREE" | sudo debconf-set-selections
          echo steam steam/license note '' | sudo debconf-set-selections
          sudo debconf-show steam
          sudo apt --quiet --yes install steam
          sudo apt --quiet --yes install steamcmd
      - name: SteamCMD - Windows install
        if: runner.os == 'Windows'
        run: |
          choco install steamcmd --no-progress

      # Mpm
      - name: Poetry upgrade
        run: |
          python -m pip install --upgrade poetry
      - name: mpm - Install
        run: |
          poetry install --no-interaction --no-ansi
      - name: mpm - macOS & Linux output
        if: runner.os != 'Windows'
        run: |
          poetry run mpm
          poetry run mpm --version
          poetry run mpm managers
      - name: mpm - Windows output
        if: runner.os == 'Windows'
        # XXX Workaround for Windows runners redirecting the output of commands to files. See:
        # https://github.com/databrickslabs/dbx/issues/455#issuecomment-1312770919
        # https://github.com/pallets/click/issues/2121#issuecomment-1312773882
        # https://gist.github.com/NodeJSmith/e7e37f2d3f162456869f015f842bcf15
        env:
          PYTHONIOENCODING: "utf8"
        run: |
          poetry run mpm
          poetry run mpm --version
          poetry run mpm managers

      # Prepare env for tests.
      - name: Tests - Coverage hack
        # "Can't combine line data with arc data" error.
        if: runner.os != 'Windows'
        run: |
          rm -rf .coverage*
      - name: Tests - Clean-up .pyc leftovers
        # To eliminate these warnings:
        #   CoverageWarning: Couldn't parse '/private/var/folders/24/8k48jl6d249_n_qfxwsl6xvm0000gn
        #   /T/pip-install-v4yiyxo1/argparse_2a0cc810c7b545beacef972740eaaabc/argparse.py':
        #   No source for code: '/private/var/folders/24/8k48jl6d249_n_qfxwsl6xvm0000gn
        #   /T/pip-install-v4yiyxo1/argparse_2a0cc810c7b545beacef972740eaaabc/argparse.py'. (couldnt-parse)
        # See: https://stackoverflow.com/q/2386975
        if: runner.os != 'Windows'
        run: |
          sudo find / -name "*.pyc" -delete || true
      - name: Tests - Destructive mode
        env:
          DESTRUCTIVE_TESTS: true
        # pyproject.toml config file is specified at CLI level instead of
        # letting coverage find it because of this bug:
        # https://github.com/nedbat/coveragepy/issues/512#issuecomment-399707938
        # https://github.com/pytest-dev/pytest-cov/issues/168#issuecomment-327533847
        # https://github.com/pytest-dev/pytest-cov/issues/243
        run: |
          poetry run pytest --exitfirst --cov-config=pyproject.toml --cov=./ --cov-report=xml
      - name: Coverage - Upload Codecov
        uses: codecov/codecov-action@v3.1.1